.navbar-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 10vh;
    background-color: tomato;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: white;
}
i{
    padding: 0px 10px;
}
.search-div input{
    width: 400px;
    padding: 4px;
    border: none;
    border-radius: 10px;
}
.search-div{
    padding-top: 5px;
}
.search-div i{
    color: white;
}
.search-div i:hover{
    cursor: pointer;
    color: blue;
}
i{
    font-size: 20px;
}